################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/test/SnowmanTests/bin/Debug/netcoreapp3.1
